{{!log 'account pricing' this}}
<div class="table-responsive table_wrapper" style="overflow-x: auto;">
<table id="account-pricing" class="table table-sm table-bordered"
data-toggle="table"
data-filter-control="true"
data-search="false"
data-show-columns="false"
data-pagination="true"
data-page-size="25"
data-page-length="25"
data-sortable="true"
data-show-loading="true"
style="table-layout: fixed; width: 100%;">
<thead class="thead-dark">
    <tr>
    <th data-field="accountId" data-sortable="true" data-filter-control="select" title="Account">Account</th>
    <th data-field="customerId" data-sortable="true" data-filter-control="select" title="Customer">Customer</th>
    <th data-field="productId" data-sortable="true" data-filter-control="select" title="Product">Product</th>
    <th data-field="loanAmt" data-sortable="true" data-filter-control="select" title="Loan Amount">Loan Amount</th>
    <th data-field="purpose" data-sortable="true" data-filter-control="select" title="Loan Purpose">Purpose</th>
    <th data-field="repayment" data-sortable="true" data-filter-control="select" title="Repayment Type">Repayment</th>
    <th data-field="priceTier" data-sortable="true" data-filter-control="select" title="Price Tier">Price Tier</th>
    <th data-field="lvr" data-sortable="true" data-filter-control="select" title="lvr">LVR</th>
    <th data-field="staffPricing" data-sortable="true" data-filter-control="select" title="staffPricing">Staff Pricing</th>    
    <th data-field="rate" data-sortable="true" data-filter-control="select" title="rate">Rate</th>
    <th data-field="rateDiscount" data-sortable="true" data-filter-control="select" title="rateDiscount">Rate Discount</th>
    <th data-field="lateFee" data-sortable="true" data-filter-control="select" title="lateFee">Late Fee</th>
    <th data-field="notes" data-sortable="true" data-filter-control="select" title="notes">Notes</th>
    </tr>
    </thead>
    <tbody>
    {{#each accountData}}
        <tr>
        <td>{{accountId}}</td>
        <td>{{customerId}}</td>
        <td>{{productId}}</td>
        <td>{{loanAmt}}</td>        
        <td>{{purpose}}</td>  
        <td>{{repayment}}</td>      
        <td>{{priceTier}}</td>        
        <td>{{lvr}}</td>
        <td>{{staffPricing}}</td>
        <td>{{rate}}</td>
        <td>{{rateDiscount}}</td>
        <td>{{lateFee}}</td>
        <td>{{notes}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
</div>