{{log this}}
{{#if loanAmt}} 
<li>Loan Amount: ${{loanAmt}}</li>
{{/if}}
{{#if purpose}} 
<li>Purpose: {{attributes.purpose}}</li>
{{/if}}
{{#if repayment}} 
<li>Repayment: {{repayment}}</li>
{{/if}}
{{#if lvr}} 
<li>LVR: {{lvr}}%</li>
{{/if}}
