{{!-- {{log 'credit card product config partial' this}} --}}
{{#with product.creditCardProductConfiguration}}
<table>
    <tr>
    <td>
    {{#with productParameters}}
    <table>
        <tr><th colspan="2">Product Parameters</th></tr>
        <tr><th>Brand</th><td>{{brand.name}} ({{brand.code}})</td></tr>
        <tr><th>Short Name</th><td>{{shortName}}</td></tr>
        <tr><th>Detailed Description</th><td>{{detailedDescription}}</td></tr>
        <tr><th>Card Scheme</th><td>{{cardScheme.name}} ({{cardScheme.code}})</td></tr>
        <tr><th>Card Classification</th><td>{{cardClassificaiton.name}} ({{cardClassificaiton.code}})</td></tr>
        <tr><th>Card Design</th><td>
        {{#each cardDesign}}
            <li>{{name}} ({{code}})</li>
        {{/each}}
        </td></tr>
        <tr><th>Minimum Credit Limit</th><td>${{minimumCreditLimit}}</td></tr>
        <tr><th>Maximum Credit Limit</th><td>${{maximumCreditLimit}}</td></tr>
        <tr><th>Num Additional Cards</th><td>{{allowedAdditionalCards}}</td></tr>
        <tr><th>Daily Withdrawal Limit</th><td>${{dailyWithdrawalLimit}}</td></tr>

        <tr><th colspan="2">Account Control Parameters</th></tr>
        {{#with accountControlParameters}}
        <tr><th>Name</th><td>{{name}} ({{code}})</td></tr>
        <tr><th>Description</th><td>{{description}}</td></tr>
        <tr><th>Interest Free Days</th><td>{{interestFreeDays}}</td></tr>
        <tr><th>Statement Cycle</th>
        <td>{{statementCycle.name}} ({{statementCycle.code}}) => Frequency = {{statementCycle.frequency}}</td>
        </tr>
        <tr><th>Minimum Payment Amount Type</th><td>{{minimumPaymentAmountType}}</td></tr>
        <tr><th>Minimum Payment Amount</th><td>{{minimumPaymentAmount}}</td></tr>
        <tr><th>Payment Frequency</th><td>{{paymentFrequency.name}} ({{paymentFrequency.code}})</td></tr>
        {{/with}}
    </table>

    {{/with}}

    </td>
    <td>
    {{#with financialParameters}}
    {{> financial-parameters-template}}
    {{/with}}
    <br>
    {{#with regulatoryParameters}}
    {{> regulatory-parameters-template}}
    {{/with}}

    {{#with documentations}}
    {{> documentation-template}}
    {{/with}}

    {{#with entitlementParameters}}
    <br>
    {{> entitlements-template}}
    {{/with}}
    </td>
    </tr>
</table>
{{/with}}

