{{!log 'customer pricing' this}}
<div class="table-responsive table_wrapper" style="overflow-x: auto;">
<table id="{{uniqueTableId}}" class="table table-sm table-bordered"
data-toggle="table"
data-filter-control="flase"
data-search="true"
data-show-columns="false"
data-pagination="true"
data-page-size="25"
data-page-length="25"
data-sortable="true"
data-show-loading="true"
style="table-layout: fixed; width: 50%; overflow-x: scroll; white-space: nowrap;"> 
<thead class="thead-dark">
    <tr>
    <th data-field="customerId" data-sortable="true" title="Customer">Customer</th>
    <th data-field="isStaff" data-sortable="true" title="isStaff">Is Staff</th>
    <th data-field="isLoyal" data-sortable="true" title="isLoyal">Is Loyal</th>
    <th data-field="isInHardship" data-sortable="true" title="isInHardship">Is In Hardship</th>
    <th data-field="Accounts"  title="Account">Accounts Owned</th>
    </tr>
    </thead>
    <tbody>
    {{#each customerData}}
        <tr>    
        <td>
        <button class="customer-button" title="Negotiate me" data-customerid="{{customerId}}">{{customerId}}</button>
        </td>
        <td>{{isStaff}}</td>        
        <td>{{isLoyal}}</td>
        <td>{{isInHardship}}</td>
        <td>{{count_of_accounts}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
</div>
{{initializeTable}} <!-- Call the helper here -->
