{{log 'negotiated pricing hbs' this}}
<span id="negotiation-details-close">&times;</span>

<div style="border-radius: 10px; border: 1px solid #212e01; padding: 10px; background-color: #acc8f1;margin-left: 5px;margin-right: 5px;">
<h4>About this page</h4>
<div class="content">
<ul style="list-style: square; padding-left: 10px;">
    <li>To demonstrate the concept of moving account(s) from one priceing tier to another.</li>
    <li>Ideally this page would refresh the account pricing based on the newly assigned tier.</li>
    <li>The swim lanes should be variable based on role.. ie Broker Pricing may only be restricted to Brokers </li>
    <li>Moving between tiers should be subject to rule checking</li>
    <li>Add a save button which could trigger a workflow process to manage the account level updates and eventing to support channel experience</li>
    <li>If Tailored Pricing, create a case in Pega for extnernal review. Subscribe to review results.. and manage the update workflow and eventing to apply new price and comms.. if applicable</li>
</ul>
</div>
</div>

<h1>Negotiated Pricing</h1>
<h2>{{customer.customerId}}</h2>
<div class="customer-labels">
        {{#ifEquals customer.isStaff true}}
        <button class="button green-button" disabled="true">Staff</button>
        {{/ifEquals}}
        {{#ifEquals customer.isLoyal true}}
        <button class="button green-button" disabled="true">Loyal</button>
        {{/ifEquals}}
        {{#ifEquals customer.isInHardship true}}
        <button class="button green-button" disabled="true">Hardship</button>
        {{/ifEquals}}
</div>
<div class="swim-lanes-container">
    {{#each swimlanes.lane as |lane|}}
    <div class="swim-lane" data-tier="{{lane}}">
        <h5>{{lane}}</h5>
        <ul id="{{lane}}" class="swim-lane-items">
        {{#each ../accounts}}
        {{#ifEquals priceTier lane}}
        {{log '****accounts' accountId}}
            <div class="account-card" draggable="true" data-accountid="{{accountId}}">
                {{accountId}} 
                {{#each attributes}}
                <li>{{@key}}: {{this}}</li>
                {{/each}}                <li>Rate: {{rate}}%</li>
                <li>Discount: {{rateDiscount}}%</li>
                <li>Net Rate: {{netRate}}%</li>
                <li>Compare Rate: {{comparisonRate}}%</li>
                <li>Cashback: ${{cashback}}</li>
                <li>Late Fee: ${{lateFee}}</li>
            </div>
        {{/ifEquals}}
        {{/each}}
        </ul>
    </div>
    {{/each}}
</div>