{{log 'negotiated pricing hbs' this}}
<span id="negotiation-details-close">&times;</span>

<h1>Negotiated Pricing</h1>
<h2>{{customer.customerId}}</h2>
<div class="customer-labels">
        {{#ifEquals customer.isStaff true}}
        <button class="button green-button" disabled="true">Staff</button>
        {{/ifEquals}}
        {{#ifEquals customer.isLoyal true}}
        <button class="button green-button" disabled="true">Loyal</button>
        {{/ifEquals}}
        {{#ifEquals customer.isDesparate true}}
        <button class="button green-button" disabled="true">Hardship</button>
        {{/ifEquals}}
</div>
<div class="swim-lanes-container">
    {{#each swimlanes.lane as |lane|}}
    <div class="swim-lane" data-tier="{{lane}}">
        <h5>{{lane}}</h5>
        <ul id="{{lane}}" class="swim-lane-items">
        {{#each ../accounts}}
        {{#ifEquals priceTier lane}}
        {{log '****accounts' accountId}}
            <div class="account-card" draggable="true" data-accountid="{{accountId}}">
                {{accountId}} 
                <li>Purpose: {{purpose}}</li>
                <li>Repayment: {{repayment}}</li>
                <li>LoanAMT: ${{loanAmt}}</li>
                <li>LVR: {{lvr}}%</li>
                <li>Rate: {{rate}}%</li>
                <li>Discount: {{rateDiscount}}%</li>
                <li>Net Rate: {{netRate}}%</li>
                <li>Compare Rate: {{comparisonRate}}%</li>
                <li>Cashback: ${{cashback}}</li>
                <li>Late Fee: ${{lateFee}}</li>
            </div>
        {{/ifEquals}}
        {{/each}}
        </ul>
    </div>
    {{/each}}
</div>