{{!log 'offer partial' this}}

{{#if offer.marketingreferral}}
<h3>Marketing Referral</h3>
<div class="content">
<div class="table_wrapper">
<table>
  <tr>
  <th>Offer</th>
  <th>Reward</th>
  </tr>
  {{#each offer.marketingreferral.marketingReferralOffers}}
  <tr>
    <td>
    {{> offer-definition-template}}
      <table>
      <tr><th colspan="3">Referee Reward</th></tr>
      {{#each offerDefinitionDetails.reward.refereeRewards}}
      {{> reward-template}}
      {{/each}}
      <br>
      <table>
      <tr><th colspan="3">Referrer Reward</th></tr>
      {{#each offerDefinitionDetails.reward.referrerReward}}
      <tr>
        <td>
          <table>
          <tr><th colspan="2">Details</th></tr>
          <tr><th>Name</th><td>{{name}} ({{code}})</td></tr>
          <tr><th>Assessed At</th><td>{{assessedAt}}</td></tr>
          <tr><th>Select Referrer Existing Referee Reward Condition</th><td>{{selectReferrerExistingRefereeRewardCondition}}</td></tr>
          <tr><th>Referee Reward Selection</th>
          <td>{{refereeRewardSelection}}
            {{#each refereeRewardSelection}}
            {{name}} ({{code}}) Select Reward={{selectReward}}
            {{/each}}
          </td></tr>          
          <tr><th>Cash Bonus</th><td>{{calculation.cashBonus}}</td></tr>
          </table>
        </td>
        <td>
          <table>
          {{#with referrerPayout}}
          <tr><th colspan="2">Payout</th></tr>
          <tr><th>Include All Joint Accounts</th><td>{{includeAllJointAccounts}}</td></tr>
          <tr><th>Determine Payout Account At Enrollement Time</th><td>{{determinePayoutAccountAtEnrollmentTime}}</td></tr>
          <tr><th>Account Status Filter</th><td>{{accountStatusFilter}}</td></tr>
          <tr>
          <th>Applicable Product Code</th>
          <td>
          {{#each applicableProductCode}}
          {{code}}<br>
          {{/each}}
          </td>
          </tr>
          <th>Account Selection Rules</th>
          <td>
          {{#each accountSelectionRules}}
          <b>Account Age Based: </b>{{accountAgeBased}}<br>
          {{/each}}
          </td>
          </tr>
          <tr><th>Payout Type</th><td>{{payoutType}}</td></tr>
          <tr><th>Max Payout Limit</th><td>{{maxPayoutLimit}}</td></tr>
          <tr><th>Payout Limit Reset Frequency</th><td>{{payoutLimitResetFrequency}}</td></tr>
          {{/with}}
          </table>
          </td>
      </table>
          {{/each}}

      </tr>
    </table>
    </td>
  </tr>
  {{/each}}
</table> 
</div>  
</div>  
{{/if}}

{{#if offer.accountOffer}}
<h3>Account Offer</h3>
<div class="content">
<div class="table_wrapper">
<table>

  <tr>
  <th>Offer</th>
  <th>Reward</th>
  </tr>
<tr>
{{#each offer.accountOffer.accountOffers}}
<td>
{{> offer-definition-template}}
</td>
<td>
<table>
<tr><th colspan="3">Account Reward</th></tr>
{{#each offerDefinitionDetails.rewardDefinition.rewards}}
{{> reward-template}}
{{/each}}
{{/each}}
</table>
</div>  
</div>
{{/if}}

