{{!log 'offer partial' this}}

{{#if offer.marketingreferral}}
<h3>Marketing Referral</h3>
<div class="content">
<div class="table_wrapper">
<table>
  <tr>
  <th>Offer</th>
  <th>Reward</th>
  </tr>
  {{#each offer.marketingreferral.marketingReferralOffers}}
  <tr>
    <td>
    <table>
    <tr><th>Name</th><td>{{offerDefinitionDetails.name}} ({{offerDefinitionDetails.code}})</td></tr>
    <tr><th>Description</th><td>{{offerDefinitionDetails.description}}</td></tr>
    <tr><th>Start Date</th><td>{{formatDate offerDefinitionDetails.offerStartDate}}</td></tr>
    <tr><th>End Date</th><td>{{formatDate offerDefinitionDetails.offerEndDate}}</td></tr>
    <tr><th>Category</th><td>{{offerDefinitionDetails.offerCategory.name}} ({{offerDefinitionDetails.offerCategory.code}})</td></tr>
    
    <tr><th>Offer Account</th>
      <td><b> Open Date: </b>{{offerDefinitionDetails.offerAccounts.selectionCriteriaBasedOnOpenDate}}<br>
      <b>Selection Criterion: </b>{{offerDefinitionDetails.offerAccounts.sameDateSelectionCriteria}}<br>
      <b>Products In Scope:</b>
      {{#each offerDefinitionDetails.offerAccounts.productsInScope}}
      <li>{{name}} ({{code}})</li>
      {{/each}}
    <tr><th>Account Filters</th>
      <td>
        <b>Open on or after: </b>{{offerDefinitionDetails.offerAccounts.accountFilters.accountsOpenedOnOrAfter}}<br>
        <b>Include Joint: </b>{{offerDefinitionDetails.offerAccounts.accountFilters.includeJointAccounts}}<br>
        <b>Terminate Ownership: </b>{{offerDefinitionDetails.offerAccounts.accountFilters.terminateOnOwnershipChange}}<br>
      </td></tr>  
    <tr><th>General Ledger</th>
      <td>
        <b>Name: </b>{{offerConfiguration.financialParameters.generalLedger.name}} ({{offerConfiguration.financialParameters.generalLedger.code}})<br>
        <b>Description: </b>{{offerConfiguration.financialParameters.generalLedger.description}}<br>
      </td></tr>  
    </table>
    </td>

    <td>
      <table>
      <tr><th colspan="3">Referee Reward</th></tr>
      {{#each offerDefinitionDetails.reward.refereeRewards}}
      <tr>
        <td>
          <table>
          <tr><th colspan="2">Details</th></tr>
          <tr><th>Name</th><td>{{name}} ({{code}})</td></tr>
          <tr><th>Assessed At</th><td>{{assessedAt}}</td></tr>
          <tr><th>Condition To Be Met</th><td>{{conditionToBeMet}}</td></tr>
          <tr><th>Cash Bonus</th><td>{{calculation.cashBonus}}</td></tr>
          </table>
        </td>
        <td>
          {{#each rewardConditions}}
          <table>
          <tr><th colspan="2">Monitoring</th></tr>
          <tr><th>Name</th><td>{{name}} ({{code}})</td></tr>
          <tr><th>Description</th><td>{{description}}</td></tr>
          <tr><th>Start</th><td>{{monitoringStart.name}} ({{monitoringStart.code}})</td></tr>
          <tr><th>End</th><td>{{monitoringEnd.name}} ({{monitoringEnd.code}})</td></tr>
          <tr><th>Days After Monoitoring Start</th><td>{{daysAfterMonitoringStart}}</td></tr>
          <tr><th>Period</th><td>{{period}}</td></tr>
          <tr><th>Logical Operator</th><td>{{logicalOperator}}</td></tr>
          </table>
          <br>
          <table>
            {{#each monitoringActivities}}
            <table>
            <tr><th colspan="2">Activities</th></tr>
            <tr><th>Name</th><td>{{name}} ({{code}})</td></tr>
            <tr><th>Description</th><td>{{description}}</td></tr>
            <tr><th>Logical Operator</th><td>{{logicalOperator}}</td></tr>
            <tr><th colspan="2">Rule Configuration</th></tr>
            <tr><th>Account Selection</th><td>{{ruleConfiguration.accountSelection}}</td></tr>
            </table>
            <br>
            <table>
            <tr><th colspan="6">Rule Model</th></tr>
            <tr>
              <th>Rule</th>
              <th>Attribute</th>
              <th>Value</th>
              <th>Logical Operator</th>
            </tr>
            <tr>
              {{#each ruleConfiguration.ruleModels}}
                <td>{{name}} ({{code}})</td>
                <td>{{attributeName}}</td>
                <td>
                {{#each value}}
                {{relationalOperator}} {{dataType}} {{dataValue}} <br>
                {{/each}}
                </td>
                <td>{{logicalOperator}}</td>
                </tr>
              {{/each}}
          </table>
          </td>
          <td>
            {{/each}}
          <table>
          {{/each}}
          {{#with payout}}
          <tr><th colspan="2">Payout</th></tr>
          <tr><th>Payout To</th><td>{{payoutTo}}</td></tr>
          <tr><th>Account Status Filter</th><td>{{accountStatusFilter}}</td></tr>
          <tr><th>Account Selection</th><td>{{accountSelection}}</td></tr>
          <tr><th>Include All Joint Accounts</th><td>{{includeAllJointAccounts}}</td></tr>
          <tr><th>Determine Payout Account At Enrollement Time</th><td>{{determinePayoutAccountAtEnrollementTime}}</td></tr>
          <tr>
          <th>Applicable Product Code</th>
          <td>
          {{#each applicableProductCode}}
          {{code}}<br>
          {{/each}}
          </td>
          </tr>
          <tr><th>Payout Type</th><td>{{payoutType}}</td></tr>
          <th>Account Selection Rules</th>
          <td>
          {{#each accountSelectionRules}}
          <b>Account Age Based: </b>{{accountAgeBased}}<br>
          {{/each}}
          </td>
          </tr>
          <tr><th>Period Based</th><td>{{periodBased}}</td></tr>
          {{/with}}
          </table>
          </td>
              {{/each}}

      </table>
      <br>
      {{!log 'referrer reward' this}}
      <table>
      <tr><th colspan="3">Referrer Reward</th></tr>
      {{#each offerDefinitionDetails.reward.referrerReward}}
      <tr>
        <td>
          <table>
          <tr><th colspan="2">Details</th></tr>
          <tr><th>Name</th><td>{{name}} ({{code}})</td></tr>
          <tr><th>Assessed At</th><td>{{assessedAt}}</td></tr>
          <tr><th>Select Referrer Existing Referee Reward Condition</th><td>{{selectReferrerExistingRefereeRewardCondition}}</td></tr>
          <tr><th>Referee Reward Selection</th>
          <td>{{refereeRewardSelection}}
            {{#each refereeRewardSelection}}
            {{name}} ({{code}}) Select Reward={{selectReward}}
            {{/each}}
          </td></tr>          
          <tr><th>Cash Bonus</th><td>{{calculation.cashBonus}}</td></tr>
          </table>
        </td>
        <td>
          <table>
          {{#with referrerPayout}}
          <tr><th colspan="2">Payout</th></tr>
          <tr><th>Include All Joint Accounts</th><td>{{includeAllJointAccounts}}</td></tr>
          <tr><th>Determine Payout Account At Enrollement Time</th><td>{{determinePayoutAccountAtEnrollmentTime}}</td></tr>
          <tr><th>Account Status Filter</th><td>{{accountStatusFilter}}</td></tr>
          <tr>
          <th>Applicable Product Code</th>
          <td>
          {{#each applicableProductCode}}
          {{code}}<br>
          {{/each}}
          </td>
          </tr>
          <th>Account Selection Rules</th>
          <td>
          {{#each accountSelectionRules}}
          <b>Account Age Based: </b>{{accountAgeBased}}<br>
          {{/each}}
          </td>
          </tr>
          <tr><th>Payout Type</th><td>{{payoutType}}</td></tr>
          <tr><th>Max Payout Limit</th><td>{{maxPayoutLimit}}</td></tr>
          <tr><th>Payout Limit Reset Frequency</th><td>{{payoutLimitResetFrequency}}</td></tr>
          {{/with}}
          </table>
          </td>
      </table>
          {{/each}}

      </tr>
    </table>
    </td>
  </tr>
  {{/each}}
</table> 
</div>  
</div>  
{{/if}}
