<div>
<h2>({{place}}) {{product.productName}} as at {{formatDate asofDate}}</h2>
<table>
<tr>
    <th>Code</th>
    <th>Description</th>
    <th>Classification</th>
</tr>
<tr>
    <td>{{product.productCode}}</td>
    <td>{{product.productDescription}}</td>
    <td>{{product.productClassification}}</td>
</tr>
</table>
</div>