      {{!log 'rate based partial' this}}
      {{#if this.ratePlan.rateBasedOffers}}
      <h3>Rate Based Offers</h3>
      <div class="content">
      <div class="table_wrapper">
      <table>
          <tr>
          <th>Offer</th>
          {{#if ratePlan.rateBasedOffers.[0].productOfferRatePlanMapping.offerRatePlanDetails.simpleRates}}
          <th>Simple Rate</th>
          {{/if}}
          {{#if ratePlan.rateBasedOffers.[0].productOfferRatePlanMapping.offerRatePlanDetails.twoTermRates}}
          <th>First Term</th>
          <th>Remaining Term</th>
          {{/if}}
          </tr>
          {{#each ratePlan.rateBasedOffers}}
          <tr>
          <td>
              <table>
              <tr><th>Name</th><td>{{name}} ({{code}})</td></tr>
              <tr><th>Publish Externally</th><td>{{publishExternally}}</td></tr>
              <tr><th>Offer Category</th><td>{{offerCategory.name}} ({{offerCategory.code}})</td></tr>
              <tr><th>Status</th><td>{{status}}</td></tr>
              <tr></tr><th>Start Date</th><td>{{formatDate offerStartDate}}</td></tr>
              <tr></tr><th>End Date</th><td>{{formatDate offerEndDate}}</td></tr>
              </table>  
          </td>
          {{#if productOfferRatePlanMapping.offerRatePlanDetails.simpleRates}}
          <td>
            {{#with productOfferRatePlanMapping.offerRatePlanDetails.simpleRates.rates.rateGrid}}
            {{> rategrid-template}}
            {{/with}}

            {{#if ../rules}}
            {{#ifKeyExists ../rules code}}
                {{#each ../rules}}
                {{!log 'compare ' code ' with ' ../code}}
                {{#ifEquals code ../code}}
                    {{> ruleset-template}}
                {{/ifEquals}}
                {{/each}}
            {{else}}
                <b>No qualifier ruleset found for {{code}}</b>
            {{/ifKeyExists}}
            {{else}}
                <b>No rules found</b>
            {{/if}}
          </td>
          {{/if}}
          {{#if productOfferRatePlanMapping.offerRatePlanDetails.twoTermRates}}
          <td>
            {{#with productOfferRatePlanMapping.offerRatePlanDetails.twoTermRates.firstPartTermRates.rateGrid}}
            {{> rategrid-template}}
            {{/with}}
            {{#if ../rules}}
            {{#ifKeyExists ../rules code}}
                {{#each ../rules}}
                {{!log 'comparing  ' code ' with ' ../code}}
                {{#ifEquals code ../code}}
                    {{> ruleset-template}}
                {{/ifEquals}}
                {{/each}}
            {{else}}
                <b>No qualifier ruleset found for {{code}}</b>
            {{/ifKeyExists}}
            {{else}}
            <b>No rules found</b>
            {{/if}}
          </td>
          <td>
              {{#with productOfferRatePlanMapping.offerRatePlanDetails.twoTermRates.remainingPartTermRates.rateGrid}}
              {{> rategrid-template}}
              {{/with}}
          </td>
          {{/if}}
          </tr>
      {{/each}}
      </table>
      </div>
      </div>
      {{/if}}