{{!log 'ruleset name partial' this}}
<div>
<h2>({{place}}) {{ruleset.name}} as at {{formatDate asofDate}}</h2>
<table>
<tr>
    <th>Code</th>
    <th>Description</th>
    <th>Model Type</th>
</tr>
<tr>
    <td>{{ruleset.code}}</td>
    <td>{{ruleset.description}}</td>
    <td>{{ruleset.associationModelType}}</td>
</tr>
</table>
</div>
